<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>时间宇宙</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.6</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>NebulaiOSWidgetApp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.3.6</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>是否允许此app访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>需要访问相机,来设置封面和日记</string>
	<key>NSHealthShareUsageDescription</key>
	<string>是否允许此app访问健康分享</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>是否允许此app访问健康更新 </string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>是否允许此app访问位置</string>
	<key>NSLocationUsageDescription</key>
	<string>是否允许此app访问位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>是否允许此app在使用期间访问位置</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>是否允许此app访问麦克风</string>
	<key>NSMotionUsageDescription</key>
	<string>是否允许此app访问运动与健身</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册,来设置封面和日记</string>
	<key>NSRemindersUsageDescription</key>
	<string>是否允许此app访问提醒事项</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
